/* GERAL */
:root {
    color-scheme: light dark;
}

body {
    background-color: rgba(226, 224, 224, 0.945);
    color: black;
    height: 100vh;
    margin: -50;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Tema Claro */
.interface {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 0.5s ease;
    background: linear-gradient(to bottom, #535353, rgb(228, 227, 227));
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

/*ESTILO*/
header {
    padding: 40px 4%;
}

header > .interface {
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    color: black;
}

header .menu-desktop a:hover {
    transform: scale(1.2);
}

header .Name {
    font-size: 20px;
    font-family: serif;
    margin: 5px;
    text-shadow: 10px 10px 6px black;
    font-size: clamp(10px, 4vw, 30px);
    color: black;
}

header nav ul {
    list-style-type: none;
}

    header nav ul li {
        display: inline-block;
        padding: 0 40px;
    }

header .contato a {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 5px;
}

header .contato div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
}

/* Responsividade para mobile */
.btn-contato {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    color: black;
}

    .btn-contato::before {
        content: "Contato";
        font-size: 35px;
    }

@media (max-width: 600px) {
    .btn-contato {
        display: inline-block;
        border-radius: 30px;
        transition: 0.5s;
        background: linear-gradient(to bottom, rgb(228, 227, 227), #535353);
    }

        .btn-contato:hover {
            border-radius: 30px;
            transition: 0.5s;
            box-shadow: 0 0 6px black;
        }

        .btn-contato:active {
            background: linear-gradient(to bottom, #535353, rgb(228, 227, 227));
        }

    .contato {
        display: none;
        flex-direction: row;
        position: absolute;
        font-weight: 500;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        justify-content: center;
        background: linear-gradient(to bottom, rgb(228, 227, 227), #535353);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

        .contato.active {
            display: flex;
        }

        .contato a {
            text-align: center;
        }
}

.menu-toggle {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    position: relative;
    color: black;
}

    .menu-toggle::before {
        content: "☰";
        font-size: 35px;
    }

@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 44px;
        right: 0;
        width: 100%;
        padding: 10px 0;
        background: linear-gradient(to bottom, rgb(228, 227, 227), #535353);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

        nav ul.active {
            display: flex;
        }

        nav ul li {
            text-align: center;
            padding: 10px 0;
        }
}

#toggle-theme {
    position: fixed;
    z-index: 9999; /* Garante que fique sobre todos os elementos */
    bottom: 20px;
    right: 20px;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    background-image: url('src/icons/dark-mode1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #1b1b1b;
    color: white;
}

    body.dark-mode .interface {
        background: linear-gradient(to bottom, grey, black);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
    }

    body.dark-mode header a {
        color: white;
    }

    body.dark-mode header .Name {
        color: white;
        text-shadow: 10px 10px 6px white;
    }

    body.dark-mode .btn-contato::before {
        color: rgb(202, 202, 202);
    }

    body.dark-mode .menu-toggle::before {
        color: white;
    }

    body.dark-mode #toggle-theme {
        background-image: url('src/icons/dark-mode.png');
        animation: spin 10s linear infinite;
        z-index: 9999; /* Garante que fique sobre todos os elementos */
    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    body.dark-mode .btn-contato {
        background: linear-gradient(to bottom, black, grey);
    }

        body.dark-mode .btn-contato:hover {
            box-shadow: 0 0 6px white;
        }

        body.dark-mode .btn-contato:active {
            background: linear-gradient(to bottom, grey, black);
        }

    body.dark-mode .contato {
        background: linear-gradient(to bottom, black, grey);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
    }
}

@media (max-width: 1100px) {
    body.dark-mode nav ul {
        background: linear-gradient(to bottom, black, gray);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
    }
}

/* Ícones */
.git1 {
    background-image: url('src/icons/git1.png');
    opacity: 1;
    z-index: 1;
}

.git2 {
    background-image: url('src/icons/git2.png');
    opacity: 0;
    z-index: 2;
}

.git:hover .git1 {
    opacity: 0;
}

.git:hover .git2 {
    opacity: 1;
    transform: scale(1.1);
}

.in1 {
    background-image: url('src/icons/in1.png');
    opacity: 1;
    z-index: 1;
}

.in2 {
    background-image: url('src/icons/in2.png');
    opacity: 0;
    z-index: 2;
}

.in:hover .in1 {
    opacity: 0;
}

.in:hover .in2 {
    opacity: 1;
    transform: scale(1.2);
}

.wpp1 {
    background-image: url('src/icons/wpp1.png');
    opacity: 1;
    z-index: 1;
}

.wpp2 {
    background-image: url('src/icons/wpp2.png');
    opacity: 0;
    z-index: 2;
}

.wpp:hover .wpp1 {
    opacity: 0;
}

.wpp:hover .wpp2 {
    opacity: 1;
}

body.dark-mode .git1 {
    background-image: url('src/icons/git3.png');
}

body.dark-mode .in1 {
    background-image: url('src/icons/in3.png');
}

body.dark-mode .wpp1 {
    background-image: url('src/icons/wpp3.png');
}

/*indentificando ip */
.ip-bubble {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: 0.2s;
}

body.dark-mode .ip-bubble{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);

}


/*ESTILO TOPO SITE*/

/* Estilos da seção topo */
section.top-site {
    padding: 0px 4%;
}

.interface-top-site {
    flex: 1; /* Permite que o texto se ajuste automaticamente */
}


/* Estilos do título */
.top-site h1 {
    font-size: 42px;
    margin-bottom: 20px; /* Adicionado espaçamento abaixo do título */
    max-width: 100%; /* Reduz a largura do texto */
}


/* Estilos do parágrafo */
.top-site p {
    font-size: 1.3rem; /* Tamanho de fonte ajustado */
    line-height: 1.6; /* Melhora a legibilidade do texto */
    max-width: 100%; /* Reduz a largura do texto */

}

/* Contêiner da interface do topo */
.interface-top-site {
    display: flex;
    align-items: center;
}

.top-site .image-top-site {
    justify-content: center; /* Centraliza a imagem */
}

/* Estilos da imagem */
.top-site img {
    flex: 2;
    animation: flutuar 2s ease-in-out infinite alternate;
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    width: 1000px;
}

/* Animação de flutuar */
@keyframes flutuar {
    0% {
        transform: translateY(0); /* Usando transform para melhor performance */
    }
    100% {
        transform: translateY(-20px); /* Movimento mais suave */
    }
}

/*Movimentção clicando no link de forma suave*/

html {
    scroll-behavior: smooth;
}